<h1>
  Example YAML-to-Json in Rails App
</h1>

<br />
<br />
<br />

Example app to accompany blog post at <a href="http://www.jasonfleetwoodboldt.com/writing/2017/07/17/port-yaml-based-configs-to-client-side-code-as-jso/">http://www.jasonfleetwoodboldt.com/writing/2017/07/17/port-yaml-based-configs-to-client-side-code-as-jso/</a>

Your YAML-based configs from Rails are:

<pre>
<%= javascript_tag do %>

document.write(JSON.stringify(ExampleApp.MyConfigs.getConfigs()));

<% end %>
</pre>